<style>

</style>
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .HomeImage {
        position: relative;
    }

        .HomeImage img {
            overflow: hidden;
            justify-content: center;
            width: 85%;
            height: auto;
            border-radius: 2%;
        }

        .HomeImage h1 {
            position: absolute;
            top: 3%;
            left: 0%;
            right: 0%;
            color: white;
            font-size: 40px;
            font-family: cursive;
            text-shadow: 2px 2px black;
        }
</style>
<div class="text-center">
    <div class="HomeImage">
        <img src="https://www.foodnavigator.com/var/wrbm_gb_food_pharma/storage/images/publications/food-beverage-nutrition/foodnavigator.com/article/2020/11/13/online-grocery-shopping-here-to-stay-even-when-normality-returns/11943329-1-eng-GB/Online-grocery-shopping-here-to-stay-even-when-normality-returns.jpg" />
        <h1>
            Магазин за бързо хранене "Street food"
        </h1>
    </div>
    </div>
